*, *::before, *::after{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{

  /*========== Color =========== */

  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsla(0, 0%, 100%, 0.8);
  --clr-black: hsl(0, 0%, 0%);
  --clr-blue-variant: hsl(254, 88%, 13%);
  --clr-blue-variant-2: hsl(254, 86%, 32%);
  --clr-green: hsl(135, 35%, 51%);



  /*========== Device Width =========== */
  --container-width-lg: 80%;
  --container-width-md: 88%;
  --container-width-sm: 92%;


  /*========== Transition =========== */
  --transition: all 350ms ease;

}

  /*================= General settings ===========*/

  html{
      scroll-behavior: smooth;
  }

  section{
      padding: 5rem 0;
  }

  .container{
      margin: 0 auto;
      width: var(--container-width-lg) ;
  }

  img{
      width: 100%;
      display: block;
      object-fit: cover
  }

  .btn{
    color: var(--clr-white);
    background-color: var(--clr-green);
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    transition: var(--transition);
    border: 1px solid transparent;
    font-family: inherit;
  }

  .btn:hover{
    border: 1px solid var(--clr-white);
    background-color: transparent;
    letter-spacing: 1px;

  }

  h1{
      font-size: 2.8rem;
  }

  h2{
      font-size: 2.4rem; 
  }

  h3{
      font-size: 2rem;
  }

  h4{
      font-size: 1.7rem;
  }

  h5{
      font-size: 1.3rem;
  }

  h6{
    font-size: .9rem;
  }

  body{
      background: var(--clr-white)  ;
      overflow-x: hidden ;
      line-height: 1.4;
      font-family: 'Mulish', "NUnito";
      min-height: 100vh;
      max-width: 1920px;


  }

  /*================= Nav ===========*/
  nav{
    display: grid;
    place-items: center;
    height: 4rem;
    background-color: var(--clr-blue-variant) ;
  }

  .nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    width:8rem;
  }


  .nav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .nav__links a{
    color: var(--clr-white);
    transition: var(--transition);
    font-weight: 600;
  }

  .nav__links a:hover{
    color: var(--clr-green);
  }

  .nav__socials{
    display: flex;
    gap: 1.5rem;
  }

  .nav__socials a{
    color: var(--clr-grey);
    font-size: 1.3rem;

  }

  .nav__socials a:hover{
    color: var(--clr-green);
  }


  /*================= Header  ===========*/
  header{
    background: url('./imgs/header-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  header::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(53, 53, 53, 0.4);
    position: absolute;
    top: 0;
    left: 0;
  }

  .header__container{
    display: grid;
    place-items: center ;
    height: 90vh ;

  }

  .header__content{
    text-align: center;
    color: var(--clr-white);
    z-index: 2;

  }

  .header__content p{
    color: var(--clr-grey);
    width: 65%;
    margin: 0.5rem auto 2rem;
  }



  /*=================  ===========*/



  /*=================  ===========*/



  /*=================  ===========*/



  /*================= Footer  ===========*/







  /*================= Media Query (Tablets) ===========*/
  @media screen and (max-width: 64em){

      .container{
          width: var(--container-width-md) ;

      }

      h1{
          font-size: 2.3rem;
      }
  
      h2{
          font-size: 1.95rem;
      }
  
      h3{
          font-size: 1.6rem;
      }
  
      h4{
          font-size: 1.2rem;
      }
  
      h5{
          font-size: 1.9rem;
      }

      h6{
        font-size: 0.85rem;
      }



  /*================= Nav ===========*/



  /*=================  ===========*/



  /*=================  ===========*/



  /*=================  ===========*/



  /*=================  ===========*/



  /*================= Footer  ===========*/


  }




  /*================= Media Query (Small Devices) ===========*/
  @media screen and (max-width: 37em){

      .container{
          width: var(--container-width-sm);

      }

      h1{
          font-size: 2rem;
      }
  
      h2{
          font-size: 1.7rem;
      }
  
      h3{
          font-size: 1.4rem;
      }
  
      h4{
          font-size: 1.1rem;
      }
  
      h5{
          font-size: 0.9rem;
      }

      h6{
        font-size: 0.8rem;
      }



  /*================= Nav ===========*/



  /*=================  ===========*/



  /*=================  ===========*/



  /*=================  ===========*/



  /*=================  ===========*/



  /*================= Footer  ===========*/


  }





